<!DOCTYPE html>
<html>
<head>

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width = device-width">

	<title></title>

	<script src="{{=URL('static','js/jquery.js')}}"></script>
	<script src="{{=URL('static','js/web2py.js')}}"></script>
	<script src="{{=URL('static','js/audio.js')}}"></script>
	<script src="{{=URL('static','js/problems.js')}}"></script>
	<script src="{{=URL('static','js/cognitive_prompts.js')}}"></script>
	<script src="{{=URL('static','js/number_audio.js')}}"></script>
	<script src="{{=URL('static','js/attributions.js')}}"></script>
	<script src="{{=URL('static','js/communications.js')}}"></script>

	
	<script src="{{=URL('static','js/log.js')}}"></script>

	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/robot-ui.css')}}">

	<script>
		var REQUEST_DATA_FROM_MOBILE = "{{=URL('mobileinterface','default','send_data_to_robot')}}";
		var LOG = "{{=URL('mobileinterface','log','log')}}";
		var SET_COGNITIVE_TRIGGERED = "{{=URL('mobileinterface','default','set_cognitive_prompt_triggered')}}";
		var REQUEST_SESSION_DATA = "{{=URL('mobileinterface','session','current_session')}}";
		var GET_PROMPT = "{{=URL('mobileinterface','default','get_prompt')}}";
		var COMM_ADDR = "{{=URL('comm', 'send_message')}}";

		//Called this asynchronously. Can't believe this worked.
    	$.ajax({
		    type: 'GET',
		    url: 'session/current_session',
		    dataType: 'json',
		    success: function(datum) {console.dir("DATA!!!" + datum); storeTestSessionInformation(datum);},
		    async: false
		});
    	var firstProblem = true; // this variable defines that this is the first problem (learning to use TAG)
		var direction = undefined;
		var raw_direction = undefined;
		var offset = 0;
 		var currentPromptIndex = 0;
 		var localProblemIndex = 540;
 		var begLast = false;
        //Saving prompt/attribution state data
        var attributionFinished = true;
        var cognitivePromptFinished = true;
        var promptsOrdered = false;
        
 		var parsedData = "";

	    window.addEventListener('deviceorientation', function(e) {
	            var prop = e.alpha;
	            raw_direction = prop;

	            if(direction === undefined || Math.abs((prop + offset)%360 - direction) > 1){
	                direction = (prop + offset) % 360;
	                // document.getElementById("output").innerText = direction;
	                // Sending direction to controller
	                $.ajax({
	                      url: "{{=URL('update_direction')}}",
	                      data: {d: direction}
	                    });
	            }
	    }, false);

	    /*
	    	Start move control
	     */
		var isMoving = false;
		var moveListeners = [];

		/*
			Each time the isMoving variable is set 
			through this function, it calls the listeners.
			Important: this function removes the listeners 
			as they are called IFF they return "true".

			Params:
			- moving: boolean, determining if real robot is moving or not
		 */
		var setMoving = function(moving){
			isMoving = moving;
			for(var i = 0; i < moveListeners.length; i++){
				// Check if listener exists
				if(moveListeners[i]){
					// call listener
					console.dir(">>> Calling listener " + i);
					if(moveListeners[i](moving)){
						// Remove listener
						console.dir(">>> Removing listener " + i);
						moveListeners.splice(i, 1);
					}
				}
			}
		};

		/*
			Adds a listener to the isMoving variable
			IMPORTANT: this function is currently set to store only ONE listener.

			Params:
			- listener: a function to be called when the isMoving variable changes.
						This function should take a boolean as a parameter, indicating
						the new value that isMoving acquired.
		 */
		var addMoveListener = function(listener){
			// moveListeners.push(listener);
			moveListeners = [listener];
		};

		/* End move control */
		socket = web2py_websocket('ws://{{=ip}}:{{=port}}/realtime/{{=group_name}}',function(e) {
			console.dir("*******" + e.data);
			var data = JSON.parse(e.data);

			var incoming = JSON.parse(unescape(e.data));
			console.dir("incoming packet : " + JSON.stringify(incoming));
		
			var condition = "do_not_care";

			// Adding problem information to data.value object
			if (data['value'] !== undefined){
				data.value.firstProblem = firstProblem;
			}
			console.dir(">>> Starting switch for '" + data.type + "'");
                        console.log(data.value);
			switch(data.type){
				case 'moving':
					setMoving(data.value);
					console.dir(">>> Set isMoving = " + isMoving);
					break;
				case 'attribution':
					/*
						The first time a cognitive prompt is shown will set this variable
						to false. This means that the student is moving on from the initial problem.
					*/
					firstProblem = false;
					attributions.makeAttribution(data.value);
					break;
				case 'dismiss_attribution':
					attributions.hidePromptDialog(data.value);
					break;
				case 'order':
					 if(!promptsOrdered)
					 {
					 	cognitive_prompts.doPromptAction("randomizePrompts",data.value);
					 	promptsOrdered = true;
					 }					
					break;
				case 'cognitive':
					 console.dir("Cognitive. Moving: " + isMoving);
					 //condition = parsedData;
					 if(!isMoving){
					 	console.dir(">>> Robot is not moving. Make cognitive");
					 	cognitive_prompts.doPromptAction("makePrompt",data.value,parsedData ? parsedData.condition_name : "");
					 } else {
					 	/*
					 		Robot is moving. Add listener, so that when the robot stops and 
					 		changes the variable, this function will be executed
					 	 */
					 	console.dir(">>> Adding moveListener for cognitive");
					 	addMoveListener(function(moving){
					 		console.dir(">>> Calling moveListener for cognitive")
					 		// check if the robot is done moving
					 		if(!moving){
					 			cognitive_prompts.doPromptAction("makePrompt",data.value,parsedData ? parsedData.condition_name : "");
					 			// Return true so that this function is removed
					 			return true;
					 		} else {
					 			// variable wasn't changed as expected. Don't remove the function
					 			return false;
					 		}
					 	});
					 }
					break;
				case 'say_number':
					var value = data.value;
					// Notify robot that it is talking
					$.ajax({
                      url: "{{=URL('update_talking')}}",
                      data: {talking: "talking"}
                    });
					number_audio.sayNumber(value.type, value.number, value.coordinate, function(){
						// Notify robot that talking is done
						$.ajax({
	                      url: "{{=URL('update_talking')}}",
	                      data: {talking: ""}
	                    });
					});
					break;
				case 'timecheck':
					 console.dir("Timecheck. Moving: " + isMoving);
					 if(!isMoving){
					 	console.dir(">>> Robot is not moving. Make timecheck");
					 	cognitive_prompts.doPromptAction("timecheck",data.value,"dontcare");
					 } else {
					 	/*
					 		Robot is moving. Add listener, so that when the robot stops and 
					 		changes the variable, this function will be executed
					 	 */
					 	console.dir(">>> Adding moveListener for timecheck");
					 	addMoveListener(function(moving){
					 		console.dir(">>> Calling moveListener for timecheck")
					 		// check if the robot is done moving
					 		if(!moving){
					 			cognitive_prompts.doPromptAction("timecheck",data.value,"dontcare");
					 			// Return true so that this function is removed
					 			return true;
					 		} else {
					 			// variable wasn't changed as expected. Don't remove the function
					 			return false;
					 		}
					 	});
					 }
					break;
				case 'cognitive_skip':
					 cognitive_prompts.doPromptAction("skipPrompts",data.value,"dontCare");
					break;
				case 'dismiss_cognitive':
					// Acknowledging response
					attributions.makeAck();
					cognitive_prompts.doPromptAction("hidePromptDialog",data.value,"dontCare");
					break; 
				case 'reset':
					offset = 360 - raw_direction;
					break;
				case 'echo':
					// This is used for testing the communication channels
					alert(data.value);
				default:
					console.dir("Nothing to do here " + data);
			}
		});

		$(function(){
			var currClass;
			
			$("body > div:not(#overlay,#speech,#record)").on("touchstart", function(){
				console.dir("start touch");
				currClass = $("body").attr('class');
				$("body").attr('class', 'frown');
				return false;
			});

			$("body > div:not(#overlay,#speech,#record)").on("touchend", function(){
				console.dir("end touch");
				$("body").attr('class', currClass);
				notifyClick();
				return false;
			});

			var notifyClick = function(){
				//don't register clicks if cognitive prompts or attribution messages playing
				console.dir(attributionFinished + "- - -" + cognitivePromptFinished);
				if(attributionFinished == true && cognitivePromptFinished == true)
				{
					// Notifying mobile application
					$.ajax({url:"robot/load_options", 
				      	success: function(data) {
				          console.dir(data);
				    	}
				    });

				    //dismiss any visible prompts
				    recordClickCount = 5;
				    $("#record").click();

				    // Notifying user
				    showClick();
				}
			};

			var showClick = function(){
				console.dir('clicked');
				$('#overlay').fadeIn('slow');
				window.setTimeout(function(){
					$('#overlay').fadeOut('slow');
				}, 3000);
			};

			$.ajax({
				url:"{{=URL('session', 'current_session')}}"
			}).done(function(data){
				parsedData = JSON.parse(JSON.parse(data));
			});

		});
		
	</script>

</head>
<body class="neutral">
	<div id="output"></div>
	<div id="eyes"></div>
	<div id="mouth"></div>
	<div id="speech"></div>
	<div id="record"></div>
	<div id="overlay"></div>
	<audio id="promptSound"/>
	<audio id="attributionSound"/>
</body>
</html>
