<!DOCTYPE html>
<html>
<head>

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width = device-width">

	<title></title>

	<script src="{{=URL('static','js/jquery.js')}}"></script>
	<script src="{{=URL('static','js/web2py.js')}}"></script>
	<script src="{{=URL('static','js/audio.js')}}"></script>
	<script src="{{=URL('static','js/attributions.js')}}"></script>

	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/robot-ui.css')}}">

	<script>
		var direction = undefined;

		window.addEventListener('deviceorientation', function(e) {
			var prop = e.alpha;
			if(direction === undefined || Math.abs(prop - direction) > 0.1){
			    // document.getElementById("output").innerText = prop;
			    direction = prop;
			    // Sending direction to controller
			    $.ajax({
				  url: "{{=URL('update_direction')}}",
				  data: {d: direction}
				});
			}
		}, false);

		socket = web2py_websocket('ws://{{=ip}}:{{=port}}/realtime/{{=group_name}}',function(e){
			var data = JSON.parse(e.data);
			switch(data.type){
				case 'attribution':
					attributions.makeAttribution(data.value);
			}
		});
		
	</script>

</head>
<body class="neutral">
<div id="output"></div>
<div id="eyes"></div>
<div id="mouth"></div>

<audio id="desirable_failure_i" src="{{=URL('static','audio/desirable_failure_i.wav')}}"/>
<audio id="desirable_failure_you" src="{{=URL('static','audio/desirable_failure_you.wav')}}"/>
<audio id="desirable_failure_we" src="{{=URL('static','audio/desirable_failure_we.wav')}}"/>
<audio id="desirable_success_i" src="{{=URL('static','audio/desirable_failure_i.wav')}}"/>
<audio id="desirable_success_you" src="{{=URL('static','audio/desirable_failure_you.wav')}}"/>
<audio id="desirable_success_we" src="{{=URL('static','audio/desirable_failure_we.wav')}}"/>
<audio id="undesirable_success_i" src="{{=URL('static','audio/desirable_failure_i.wav')}}"/>
<audio id="undesirable_success_you" src="{{=URL('static','audio/desirable_failure_you.wav')}}"/>
<audio id="undesirable_success_we" src="{{=URL('static','audio/desirable_failure_we.wav')}}"/>
<audio id="undesirable_failure_i" src="{{=URL('static','audio/desirable_failure_i.wav')}}"/>
<audio id="undesirable_failure_you" src="{{=URL('static','audio/desirable_failure_you.wav')}}"/>
<audio id="undesirable_failure_we" src="{{=URL('static','audio/desirable_failure_we.wav')}}"/>

</body>
</html>